################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PrjFisher/v16
/.vs
/CTPMarketQ/x64/Debug/CTPMarketQ.tlog
/CTPMarketQ/x64/Debug/vc142.pdb
/CTPMarketQ/x64/Debug/vc142.idb
/CTPMarketQ/x64/Debug/pch.obj
/CTPMarketQ/x64/Debug/dllmain.obj
/CTPMarketQ/x64/Debug/CTPMarketQ.vcxproj.FileListAbsolute.txt
/CTPMarketQ/x64/Debug/CTPMarketQ.pch
/CTPMarketQ/x64/Debug/CTPMarketQ.log
/CTPMarketQ/x64/Debug/CTPMarketQ.Build.CppClean.log
/CTPMarketQ/x64/Debug/CMyCTPMarketQHandler.obj
/CTPMarketQ/x64/Debug/CFisherCommand_Stop.obj
/CTPMarketQ/x64/Debug/CFisherCommand_Start.obj
/CTPMarketQ/x64/Debug/CFisherCommand_SQR.obj
/CTPMarketQ/x64/Debug/CFisherCommand_SMD.obj
/CTPMarketQ/x64/Debug/CFisherCommand_Show.obj
/CTPMarketQ/x64/Debug/CFisherCommand_List.obj
/CTPMarketQ/x64/Release/CTPMarketQ.tlog
/CTPMarketQ/x64/Release/vc142.pdb
/CTPMarketQ/x64/Release/pch.obj
/CTPMarketQ/x64/Release/dllmain.obj
/CTPMarketQ/x64/Release/CTPMarketQ.vcxproj.FileListAbsolute.txt
/CTPMarketQ/x64/Release/CTPMarketQ.pch
/CTPMarketQ/x64/Release/CTPMarketQ.log
/CTPMarketQ/x64/Release/CTPMarketQ.Build.CppClean.log
/CTPMarketQ/x64/Release/CMyCTPMarketQHandler.obj
/CTPMarketQ/x64/Release/CFisherCommand_Stop.obj
/CTPMarketQ/x64/Release/CFisherCommand_Start.obj
/CTPMarketQ/x64/Release/CFisherCommand_SQR.obj
/CTPMarketQ/x64/Release/CFisherCommand_SMD.obj
/CTPMarketQ/x64/Release/CFisherCommand_Show.obj
/CTPMarketQ/x64/Release/CFisherCommand_List.obj
/CTPTrader/x64/Debug/CTPTrader.tlog
/CTPTrader/x64/Debug/vc142.pdb
/CTPTrader/x64/Debug/vc142.idb
/CTPTrader/x64/Debug/pch.obj
/CTPTrader/x64/Debug/dllmain.obj
/CTPTrader/x64/Debug/CTPTrader.vcxproj.FileListAbsolute.txt
/CTPTrader/x64/Debug/CTPTrader.pch
/CTPTrader/x64/Debug/CTPTrader.log
/CTPTrader/x64/Debug/CTPTrader.Build.CppClean.log
/FisherConsole/flow4
/FisherConsole/flow3
/FisherConsole/flow2
/FisherConsole/flow1
/FisherConsole/x64/Debug/FisherConsole.tlog
/FisherConsole/x64/Debug/vc142.pdb
/FisherConsole/x64/Debug/vc142.idb
/FisherConsole/x64/Debug/FisherConsole.vcxproj.FileListAbsolute.txt
/FisherConsole/x64/Debug/FisherConsole.log
/FisherConsole/x64/Debug/FisherConsole.Build.CppClean.log
/FisherConsole/x64/Debug/CtrlHandler.obj
/FisherConsole/x64/Debug/CFisherConsole.obj
/FisherConsole/x64/Debug/CFisherCommand_Version.obj
/FisherConsole/x64/Debug/CFisherCommand_Unload.obj
/FisherConsole/x64/Debug/CFisherCommand_Quit.obj
/FisherConsole/x64/Debug/CFisherCommand_Load.obj
/FisherConsole/x64/Debug/CFisherCommand_Help.obj
/FisherConsole/x64/Debug/CFisherCommand.obj
/FisherConsole/x64/Release/FisherConsole.tlog
/FisherConsole/x64/Release/vc142.pdb
/FisherConsole/x64/Release/FisherConsole.vcxproj.FileListAbsolute.txt
/FisherConsole/x64/Release/FisherConsole.log
/FisherConsole/x64/Release/FisherConsole.Build.CppClean.log
/FisherConsole/x64/Release/CtrlHandler.obj
/FisherConsole/x64/Release/CFisherConsole.obj
/FisherConsole/x64/Release/CFisherCommand_Version.obj
/FisherConsole/x64/Release/CFisherCommand_Unload.obj
/FisherConsole/x64/Release/CFisherCommand_Quit.obj
/FisherConsole/x64/Release/CFisherCommand_Load.obj
/FisherConsole/x64/Release/CFisherCommand_Help.obj
/FisherConsole/x64/Release/CFisherCommand.obj
/MarketQSvr/x64/Debug/MarketQSvr.tlog
/MarketQSvr/x64/Debug/vc142.pdb
/MarketQSvr/x64/Debug/vc142.idb
/MarketQSvr/x64/Debug/MarketQSvr.obj
/MarketQSvr/x64/Debug/MarketQSvr.log
